<div class="container container-header">
  <a href="">
    <img 
      src="../../../../../assets/images/meu-caramelo-logo.png"
      alt="Logo do Meu Caramelo, Imagem de um cachorro brincando com uma bola"
      width="50px">
  </a>
  <div class="menu-section">
    <div class="menu-toggle">
      <mat-icon>menu</mat-icon>
      <div id="stealth-menu">
        <nav>
            <ul>
                <a href=""><li>INÍCIO</li></a>
                <a href=""><li>CADASTRAR</li></a>
                <a href=""><li>ENCONTRE UM AMIGO</li></a>
                <a href=""><li>SOBRE NÓS</li></a>
                <a href=""><li>CONTATOS</li></a>
            </ul>
        </nav>
      </div>
    </div>
    <nav>
        <ul>
            <li><a href="">LOGIN</a></li>
            <li><a href="" class="btn btn-white">COMEÇAR AGORA!</a></li>
        </ul>
    </nav>
  </div>

  <div class="social-media">
      <a href="">
        <img 
          src="../../../../../assets/images/zap-logo.png" 
          alt="Logotipo do Wathsapp" 
          width="20px">
      </a>
      <a href="">
        <img 
          src="../../../../../assets/images/insta-logo.png" 
          alt="Logotipo do Instagram" 
          width="20px">
      </a>
  </div>
</div>
<div class="box box-1"></div>
<div class="box box-2"></div>