:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-top: 10px;
}

a {
  display: flex;
  align-items: center;

  &:hover {
    margin-top: -1px;
  }
}

.menu-section {
  .menu-section-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
    
    .menu-responsive {
      mat-icon {
        display: none;
      }
    
      nav {
        ul {
          display: flex;
          gap: 15px;
        }
      }
    }
    
    .menu {
      nav {
        ul {
          display: flex;
          gap: 15px;
        }
      }
    }
  }
}

 .social-media {
  display: flex;
  gap: 10px;
 }

@media only screen and (max-width: 980px) {
  img{
    display: none;
  }

  a {  
    &:hover {
      margin-top: 0;
    }
  }

  .menu-section,
  .menu-section-container {
    border-radius: 0 0 15px 15px;
    background-image: linear-gradient(#8649ff, var(--primary));
  }

  .menu-section {
    width: 100%;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .menu-section-container {
      flex-direction: column;
      justify-content: space-around;
      gap: 0;
      
      .menu-responsive {
        width: 100%;
        padding: 30px 0 30px 0;
        border-radius: 0 0 15px 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
        display: flex;
        align-items: center;
        justify-content: space-around;
  
        mat-icon {
          width: 40px;
          height: 40px;
          font-size: 40px;
          color: var(--white);
  
          display: block;
          cursor: pointer;
        }
      }
  
      .menu {
        padding-top: 20px;
  
        nav {
          ul {
            flex-direction: column;
            align-items: center;
            gap: 0;

  
            a {
              padding: 10px 60px 10px 60px;
            }
          }
        }
      }
    }  
  }

  .social-media {
    display: none;
  }
}