<div class="container container-header">
  <a href="">
    <img 
      src="../../../../../assets/images/meu-caramelo-logo.png"
      alt="Logo do Meu Caramelo, Imagem de um cachorro brincando com uma bola"
      width="50px">
  </a>
  <div class="menu-section">
      <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
      </div>
      <nav>
          <ul class="menu-nav">
              <li><a href="">INÍCIO</a></li>
              <li><a href="">CADASTRAR</a></li>
              <li><a href="">ENCONTRE UM AMIGO</a></li>
              <li><a href="">SOBRE NÓS</a></li>
              <li><a href="">CONTATOS</a></li>
          </ul>

          <ul class="menu-access">
              <li><a href="">LOGIN</a></li>
              <li><a href="">COMEÇAR AGORA!</a></li>
          </ul>
      </nav>
  </div>

  <div class="social-media">
      <a href="">
        <img 
          src="../../../../../assets/images/zap-logo.png" 
          alt="Logotipo do Wathsapp" 
          width="20px">
      </a>
      <a href="">
        <img 
          src="../../../../../assets/images/insta-logo.png" 
          alt="Logotipo do Instagram" 
          width="20px">
      </a>
  </div>
</div>
<div class="box box-1"></div>
<div class="box box-2"></div>