:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin-top: 10px;
}

li {
  &:hover {
    margin-top: -1px;
  }
}

.menu-section {
  display: flex;
  gap: 50px;

  nav {
    ul {
      display: flex;
      gap: 15px;
    }
  } 
}

.menu-toggle {
  mat-icon {
    display: none;
    visibility: hidden;
  }

  div {
    nav {
      ul {
        display: flex;
        gap: 15px;
      }
    }
  }
}

.social-media {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 980px) {
  img{
    display: none;
  }

  .menu-section {
    width: 100%;
    margin-top: 20px;
    
    justify-content: space-around;
    gap: 20%;

    nav {
      ul {
        margin-top: 10px;
      }
    } 
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;

    mat-icon {
      width: 40px;
      height: 40px;
      font-size: 40px;
      color: var(--white);

      display: block;
      visibility: visible;
    }

    div {
      visibility: hidden;
      
      nav {
        margin-top: 5px;
        padding: 10px 0 0 0;
        border-radius: 5px;
        background-color: var(--primary);
        box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.25);
        
        position: absolute;

        ul {
          margin-top: -10px;
        
          flex-direction: column;
          gap: 0;

            a {
              padding: 10px 20px 10px 20px;
            }
        }
      }
    }

    &.menu-toggle-on {
      padding: 0 0px 0 0px;
      border-radius: 5px;
      background-color: var(--primary);
      box-shadow: 4px 2px 4px 2px rgba(0, 0, 0, 0.25);
    }
  }

  .social-media {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .menu-section {
    justify-content: center;
  }
}